<script src="/lib/jquery-ui/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/lib/jquery-ui/jquery-ui.min.css">
<script src="/lib/jquery.pep.min.js"></script>
<title>{{board.name}}</title>
<div class="board" style="width:{{::board.width}};height:{{::board.height}};">
    <div id="board_header" ng-mousedown="preventDrag($event)" class="header">
        <i class="fa fa-sticky-note-o" aria-hidden="true" style="padding-right: 5px;"></i>
        {{board.name}}
    </div>
    <input ng-mousedown="preventDrag($event)" class="board-slider" style="width: 20px;"
            orient="vertical" type="range" step="1" ng-model="zoom" min="20" max="100">
    <div id="parent" ng-dblclick="addNewCard($event,board._id)" style="zoom:{{zoom}}%;width:100%;height:87%">
        <div ng-repeat="card in board.cards track by card._id">
            <card card="card" colors='colors'></card>
        </div>
    </div>
</div>
<script src="/lib/random-scripts.js"></script>