<div ng-dblclick="" ng-mouseenter="(displayHeader = 'visible')" ng-mouseleave="(displayHeader = 'hidden')" class='n-card'
        style="top:{{card.top - 37}};left:{{card.left}};">
    <nav class="holder" style="visibility: {{displayHeader}}">
        <span ng-repeat="color in colors" style="background-color:{{color}}" class="hand n-color" ng-click="changeColor(board._id, card, color)"></span>
        <span title="delete" class="glyphicon glyphicon-trash hand n-icon" style="vertical-align: top;margin-top: 10px;margin-right:10px;" ng-click="deleteCard(board._id, card._id)"></span>
    </nav>
    <div class="moveme" style="visibility: {{displayHeader}}"></div>
    <textarea style="background-color:{{card.color}};height:{{card.height}}" 
              ng-model="card.desc" ng-mouseup="onresize($event)" ng-keyup = "resizeIfOverflow($event)"
              ng-mouseleave="onTextChange()" ng-blur="onTextChange()" ng-keypress="whentyping()"></textarea>
</div>