<toast></toast>
<div class="dashboard" style="margin-left: 33%;margin-top:55px;">
    <ul id="boards" class="list-group boards">
        <li class="list-group-item" style="padding: 0;height: 42px;" ng-repeat="board in boards">
            <label style="margin-top: 11px;margin-left: 7px;" class="hand" ng-show="!board.__mode" ui-sref="board({id: '{{board._id}}'})">{{board.name}}</label>
            <input type="text" style="width: 85%;height: 40px;padding-left: 5px;font-weight: 700;" ng-show="board.__mode" ng-model="board.name"></input>
            <span ng-show="!board.__mode" class="glyphicon glyphicon-trash pull-right hand n-icon" ng-click="deleteBoard(board._id)"></span>
            <span ng-show="board.__mode == 'edit'" class="glyphicon glyphicon-remove pull-right hand n-icon" ng-click="cancelName(board)"></span>
            <span ng-show="!board.__mode" class="glyphicon glyphicon-pencil pull-right hand n-icon" ng-click="switchToEditMode(board)"></span>
            <span ng-show="board.__mode == 'edit'"  class="glyphicon glyphicon-cloud-upload pull-right hand n-icon" ng-click="updateBoardName(board._id, board)"></span>
            <span ng-show="board.__mode == 'saving'" class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right n-icon"></span>
            <span class="glyphicon glyphicon-share-alt pull-right n-icon hand" data-toggle="modal" data-target="#{{board._id}}"></span>
            <div id='{{board._id}}' class="modal fade" style="margin-top:100px;" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content" style="margin-left: 130px;margin-right: 100px;">
                    <div class="modal-header" style="height:40px;">
                        <h5 class="modal-title" style="display: inline-block;">Add User</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="text" style='width: 260px;padding-left: 5px;height: 40px;font-size: 15;' ng-model="board.email"/>
                        <span style="margin-left:20px;width:30px;font-size: 20;margin-top: 10px;" class="glyphicon glyphicon-plus hand pull-right" 
                            ng-click="updateBoardAddUser(board._id, board, board.email)"></span>
                    </div>
                </div>
                </div>
            </div>
        </li>
        <li class="list-group-item hand" style="text-align:center;" ng-click="newBoard()">
            <span class="glyphicon glyphicon-plus"></span>
            New Board!
        </li>
    </ul>
</div>
<link rel="stylesheet" href="/css/ngToast.min.css">