<div style="background-color: #F3EEE6;">
  <div class="card" style="text-align:center;padding-top:100px;background-color: #F3EEE6;
        margin-left: 20%;margin-right: 20%;padding-bottom: 40px;
        font-family: 'Proxima Nova',Arial,sans-serif,sans;">
    <div style="display:inline-block;width:304px;border: #c0ad9b 2px solid;border-radius: 5px;">
      <img class="card-img-top" src="/author.png" style="width:300px;" alt="Card image cap">
    </div>
    <span class="card-block" style="margin-left: 20px;text-align:left;display:inline-block">
      <h2 class="card-title">Yo, I'm manohar gaddam !</h2>
      <span style="margin-left: 50px;padding-left: 50px;">
        <a target="_blank" href="https://www.linkedin.com/in/manohargaddam">
          <img class="card-img-top" src="/linkedin.png" alt="Card image cap">
        </a>
        <a target="_blank" href="https://twitter.com/ManoGaddam">
          <img class="card-img-top" src="/twitter.png" alt="Card image cap">
        </a>
        <a target="_blank" href="https://www.facebook.com/this.manohar">
          <img class="card-img-top" src="/facebook.png" alt="Card image cap">
        </a>
      </span>
  </div>
</div>

<div class="card techs">
  <lable style="display: block;font-size: larger;font-weight: 900;margin-bottom: 20px;">Made with love, using these.</lable>
  <img class="card-img-top" src="/images/aws.png" alt="">
  <img class="card-img-top" src="/images/azure.png" alt="">
  <img class="card-img-top" src="/images/docker.png" alt="">
  <img class="card-img-top" src="/images/docker-cloud.png" alt="">
  <img class="card-img-top" src="/images/bitbucket.png" alt="">
  <img class="card-img-top" src="/images/mingle.png" alt="">
  <img class="card-img-top" src="/images/nodejs.png" alt="">
  <img class="card-img-top" src="/images/mongodb.png" alt="">
  <img class="card-img-top" src="/images/express-js.png" alt="">
  <img class="card-img-top" src="/images/AngularJS.png" alt="">
  <img class="card-img-top" src="/images/bootstrap.png" alt="">
  <img class="card-img-top" src="/images/socketio.png" alt="">
  <img class="card-img-top" src="/images/OAuth2.png" alt="">
  <img class="card-img-top" src="/images/gulp.png" alt="">
  <img class="card-img-top" src="/images/requirejs.png" alt="">
</div>
</div>