<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <script src="/lib/socket.io.min.js"></script>
        <script src="/lib/jquery-2.1.3.min.js" ></script>
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/lib/require.js" data-main="/main.js"></script>
    </head>
    <body ng-controller="mainController">
        <nav id="navbar" class="navbar navbar-inverse" role="navigation" 
            style="margin-bottom:0;position:fixed;width:80%;z-index: 20;margin-left:10%;margin-right:10%">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="dashboard">
                    <img style="margin-top: -43px;" src="/logo.png" alt="Note This">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right" style="padding-right:15px;margin-right:0;">
                <li><a ui-sref="dashboard">Dashboard</a></li>
                <li><a ui-sref="about">About</a></li>
                <li><img class="card-img-top" style="border-radius: 50%;height: 35px;margin-top: 7px;" 
                    ng-src="{{user.imageUrl}}"></li>
                <li><a href="/auth/logout?return=/" >Logout</a></li>
            </ul>            
        </nav>
        <div class="container" style="width:100%;height:100%;padding:0;">
            <div ui-view></div>
        <div>
    </body>
</html>