body::-webkit-scrollbar {
    display: none;    
}

textarea::-webkit-scrollbar {
    display: none;
}
.hand{
  cursor: pointer
}
.board{
  background-color: #F5F5F1;
}
.board textarea{
  height: 100px;
  background-color: #ADD8E6;
  resize: vertical;
  border-radius: 5px;
  width:100%;
  padding: 10px;
}

.board .header{
  text-align: center;
  margin-top: 0px;
  position: fixed;
  margin-left: 40%;
  top: 10px;
  left: 0px;
  background-color: #222222;
  color: blanchedalmond;
  margin-right: 40%;
  width: 20%;
  font-weight: 700;
  height: 30px;
  padding-top: 5px;
  z-index: 20;
}

.board-slider{
  z-index: 20;
  position: fixed;
  -webkit-appearance: slider-vertical;
  top: 20px;
  left: 40px;
  height: 100px;
}



#boards .n-icon{
  text-align: middle;
  display: inline-block;
  vertical-align: super;
  margin-top: 10px;
  margin-right: 20px;
}
.board .holder .n-color{
  width: 20px;
  border: 1px solid black;
  display: inline-block;
  height: 20px;
  margin-top: 6px;
  margin-right: 5px; 
}

.dashboard .boards li{
  width: 50%;
}

.n-card .holder{
  height: 30px;
  background-color: #C0C0C0;
  opacity: 0.8;
  text-align:right;
}
.n-card .moveme{
  cursor: move;
  margin:0;
  height:7px;
  background-image: 
  repeating-linear-gradient(
    45deg,
    gray,
    white 2px,
    gray 2px,
    gray 20px /* determines size */
  );
}
.container {
  width: 100%;
}
.n-card {
  width: 250px;
  position: absolute;
  border-radius: 5px;
}

body, html {
  height: 100%;
}

.techs img{
  width: 170px;
  height: 90px;
  border: 1px #c0ad9b solid;
  margin-top: 5px;
  padding: 5px;
}
.techs{
  background-color: #F3EEE6;
  padding: 40px;
  padding-bottom: 40px;
  padding-top: 140px;
}

/* page level */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}